.main__about-me{
    padding: $padding-2 0;

    @include responsive(screen){
        padding: $padding-3 0;
    }


    p{
        @include fontText(16, 400);
        color: $grey-4;

        margin: $margin-1 0 0 20px;

        @include responsive(tablet){
            @include fontText(20, 400);
            margin: $margin-2 0 0 20px;
        }

        @include responsive(screen){
            @include fontText(24, 400);
            transition: all 1s ease-in;
        }
    }
}
