.main__courses h1{
    margin: 0 0 20px 0;

    @include responsive(tablet){
        margin: 0 0 $margin-1 0;
    }

    @include responsive(screen){
        margin: 0 0 $margin-2 0;
    }
}

.courses__slide{
    @include flex(center, flex-start);
    overflow-x: hidden;
}

.slide{
    max-width: 400px;
    min-width: 250px;

    background-color: $grey-5;
    border-radius: 5px;
    padding: 30px;


    position: relative;

    @include responsive(tablet){
        padding: $padding-1;
    }

    @include responsive(screen){
        padding: $padding-1 $padding-3;
    }

    h2{
        @include fontTitle(24, 600);
        color: $grey-1;
    }   
    
    span{
        @include fontText(14, 500);
        color: $grey-3;
    }

    p{
        @include fontText(14, 400);
        color: $grey-2;
    }

    img:first-of-type{
        width: 12px;
        height: 20px;

        position: absolute;
        top: 50%;
        left: 20px;
    }

    img:last-of-type{
        width: 12px;
        height: 20px;

        position: absolute;
        top: 50%;
        right: 20px;
    }
}