.main__courses{
    h1{
        margin: 0 0 20px 0;

        @include responsive(tablet){
            margin: 0 0 $margin-1 0;
        }
    
        @include responsive(screen){
            margin: 0 0 $margin-2 0;
        }
    }

    > div{
        width: 260px;
        @include flex(center, flex-start);

        overflow: hidden;
        position: relative;

        @include responsive(mobile){
            width: 420px;
        }

        @include responsive(tablet){
            width: 630px;
        }

        @include responsive(screen){
            width: 900px;
        }

        img:first-of-type{
            width: 12px;
            height: 20px;
    
            position: absolute;
            top: 45%;
            left: 8px;

            cursor: pointer;

            @include responsive(mobile){
                width: 15px;
                height: 25px;

                left: 15px;
            }

            @include responsive(tablet){
                width: 20px;
                height: 32px;

                left: 20px;
            }

            @include responsive(screen){
                width: 30px;
                height: 48px;

                left: 30px;
            }
        }
    
        img:last-of-type{
            width: 12px;
            height: 20px;
    
            position: absolute;
            top: 45%;
            right: 15px;

            cursor: pointer;

            @include responsive(mobile){
                width: 15px;
                height: 25px;

                right: 15px;
            }

            @include responsive(tablet){
                width: 20px;
                height: 32px;

                right: 20px;
            }

            @include responsive(screen){
                width: 30px;
                height: 48px;

                right: 30px;
            }
        }
    }
}

.courses__slide{
    @include flex(stretch, center);
}

.slide{
    width: 260px;

    background-color: $grey-5;
    border-radius: 5px;
    padding: 30px;

    @include responsive(mobile){
        width: 420px;
    }

    @include responsive(tablet){
        width: 630px;
        padding: $padding-1;
    }

    @include responsive(screen){
        width: 900px;
    }

    div{
        max-width: 300px;
        margin: 0 auto;

        h2{
            white-space: nowrap;
            @include fontTitle(24, 600);
            color: $grey-1;
            margin: 0 0 5px 0;
    
            @include responsive(tablet){
                @include fontTitle(32, 600);
            }
    
            @include responsive(screen){
                @include fontTitle(42, 600);
            }
        }   
        
        span{
            @include fontText(14, 500);
            color: $grey-3;
    
            @include responsive(screen){
                @include fontText(20, 500)
            }
        }
    
        p{
            @include fontText(14, 400);
            color: $grey-2;
            margin: 10px 0 0 0;
            max-width: 26ch;

            @include responsive(mobile){
                max-width: 35ch;
            }
    
            @include responsive(tablet){
                @include fontText(16, 400);
                margin: 20px 0 0 0;
            }
    
            @include responsive(screen){
                @include fontText(20, 400);
            }
        }
    }
}