.main__laguage{
    padding: $padding-2 0;

    @include responsive(screen){
        padding: $padding-3 0;
    }

    div{
        @include flex(start, center);
        flex-direction: column;
        gap: 10px;

        margin: $margin-1 0 0 20px;

        @include responsive(tablet){
            margin: $margin-2 0 0 20px;
        }

        figure{
            @include flex(center , space-between);
            gap: $gap-1;

            img{
                width: 30px;

                @include responsive(tablet){
                    width: 40px;
                }

                @include responsive(screen){
                    width: 50px;
                }
            }

            p{
                @include fontText(20, 600);
                color: $grey-3;

                @include responsive(tablet){
                    @include fontText(24, 600);
                }

                @include responsive(screen){
                    @include fontText(20, 600);
                }
            }
        }
    }
}