// colors

// fonts
$primary-font: 'Roboto', sans-serif;
$secundary-font: 'Source Code Pro', monospace;

// spaces

// functions
@function rem($pixels, $contexto: 16){
    @return ($pixels / $contexto) * 1rem;
}

// mixins
@mixin fontText($fontSize, $fontWeight, $lineHeight){
    font: {
        family: $primary-font;
        size: rem($fontSize);
        weight: $fontWeight;
    }

    line-height: $lineHeight;
}

@mixin fontTitle($fontSize, $fontWeight, $lineHeight){
    font: {
        family: $secundary-font;
        size: rem($fontSize);
        weight: $fontWeight;
    }

    line-height: $lineHeight;
}

@mixin responsive($breakpoint){
    @if $breakpoint == tablet {
        @media(min-width:768px){
            @content;
        }
    } @if else $breakpoint == screen {
        @media(min-width:1024px){
            @content
        }
    }
}