@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    padding: 40px;
  }
}
.header h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #FA8C84;
}
@media (min-width: 768px) {
  .header h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .header h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
  }
}
.header h1::before {
  content: none;
}

.header__links {
  display: grid;
  gap: 30px;
  padding: 40px;
  border-top: 2px solid #292221;
  border-left: 2px solid #292221;
  border-bottom: 2px solid #292221;
  background-color: #14100F;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}
@media (min-width: 1024px) {
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    border: 0;
    position: static;
    right: auto;
    top: auto;
  }
}
.header__links li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__links li a {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #CCC5C4;
}
@media (min-width: 768px) {
  .header__links li a {
    font-family: "Source Code Pro", monospace;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .header__links li a {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
  }
}
.header__links li:first-child {
  margin: 6px 0 0 0;
}
.header__links li:first-child a::after {
  content: "";
  display: block;
  margin: 4px 0 0 0;
  width: 79px;
  height: 2px;
  background-color: #AE2122;
}
@media (min-width: 768px) {
  .header__links li:first-child a::after {
    width: 98px;
  }
}
@media (min-width: 1024px) {
  .header__links li:first-child a::after {
    width: 118px;
  }
}

.js .header__links {
  right: -100%;
  transition: right 0.3s ease-in-out;
}
.js .header__links.activeMenu {
  right: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu div {
  background-color: #CCC5C4;
  width: 30px;
  height: 3px;
  border-radius: 1px;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 60px;
  }
}
.footer picture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer picture a img {
  width: 30px;
}
@media (min-width: 768px) {
  .footer picture a img {
    width: 40px;
  }
}
@media (min-width: 1024px) {
  .footer picture a img {
    width: 50px;
  }
}
.footer a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.footer a img {
  width: 30px;
}
@media (min-width: 768px) {
  .footer a img {
    width: 40px;
  }
}
@media (min-width: 1024px) {
  .footer a img {
    width: 50px;
  }
}
.footer a p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20.8px;
  color: #EBE4E4;
}
@media (min-width: 768px) {
  .footer a p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 26px;
  }
}
@media (min-width: 1024px) {
  .footer a p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31.2px;
  }
}

.js .main__introduction {
  margin: 0;
}

.main__introduction {
  margin: 160px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 480px) {
  .main__introduction {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .main__introduction {
    margin: 0;
  }
}
.main__introduction h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 27.5px;
  color: #CCC5C4;
  white-space: pre-line;
}
@media (min-width: 480px) {
  .main__introduction h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .main__introduction h1 {
    min-width: 23ch;
    font-family: "Source Code Pro", monospace;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .main__introduction h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
}
.main__introduction h1::before {
  content: none;
}
.main__introduction h1 b {
  font-family: "Source Code Pro", monospace;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 27.5px;
  color: #FFB1A8;
}
@media (min-width: 480px) {
  .main__introduction h1 b {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .main__introduction h1 b {
    font-family: "Source Code Pro", monospace;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .main__introduction h1 b {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
}
.main__introduction h1 i {
  font-family: "Source Code Pro", monospace;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 27.5px;
  font-style: italic;
  white-space: nowrap;
}
@media (min-width: 480px) {
  .main__introduction h1 i {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .main__introduction h1 i {
    font-family: "Source Code Pro", monospace;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .main__introduction h1 i {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 300;
    line-height: 40px;
  }
}
.main__introduction figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__introduction figure img {
  border: 3px solid #292221;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 51% 49% 67% 33%/64% 45% 55% 36%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.main__about-me {
  padding: 60px 0;
}
@media (min-width: 1024px) {
  .main__about-me {
    padding: 80px 0;
  }
}
.main__about-me p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  color: #B8B1B0;
  margin: 30px 0 0 20px;
}
@media (min-width: 768px) {
  .main__about-me p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0 0 20px;
  }
}
@media (min-width: 1024px) {
  .main__about-me p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31.2px;
    transition: all 1s ease-in;
  }
}

.main__skills h1 {
  margin: 0 0 30px 0;
}
@media (min-width: 768px) {
  .main__skills h1 {
    margin: 0 0 40px 0;
  }
}

.skills__graphics {
  display: grid;
  gap: 20px;
}
.skills__graphics > div {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.skills__graphics > div div {
  display: flex;
  gap: 5px;
}
.skills__graphics > div figure {
  width: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1024px) {
  .skills__graphics > div figure {
    width: 45px;
  }
}
.skills__graphics > div .graphics {
  width: 100%;
  background-color: #3D3736;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.skills__graphics > div .graphics div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px 15px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 25px;
}
@media (min-width: 768px) {
  .skills__graphics > div .graphics div {
    height: 30px;
  }
}
@media (min-width: 1024px) {
  .skills__graphics > div .graphics div {
    height: 35px;
  }
}
.skills__graphics > div .graphics div p, .skills__graphics > div .graphics div span {
  white-space: nowrap;
  font-family: "Source Code Pro", monospace;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17.5px;
  color: #14100F;
}
@media (min-width: 768px) {
  .skills__graphics > div .graphics div p, .skills__graphics > div .graphics div span {
    font-family: "Source Code Pro", monospace;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .skills__graphics > div .graphics div p, .skills__graphics > div .graphics div span {
    font-family: "Source Code Pro", monospace;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 27.5px;
  }
}
.skills__graphics div:nth-of-type(1) .graphics div {
  background-image: linear-gradient(#CC6699, #AD3D82);
  width: 63%;
  border-radius: 20px;
}
.skills__graphics div:nth-of-type(2) .graphics div {
  background-image: linear-gradient(#33A9DC, #1572B6);
  width: 91%;
  border-radius: 20px;
}
.skills__graphics div:nth-of-type(3) .graphics div {
  background-image: linear-gradient(#F16529, #DE4B25);
  width: 100%;
  border-radius: 20px;
}
.skills__graphics div:nth-of-type(4) .graphics div {
  background-image: linear-gradient(#F4D016, #C7911F);
  width: 9%;
  border-radius: 20px;
}
.skills__graphics div:nth-of-type(5) .graphics div {
  background-image: linear-gradient(#03D081, #149959);
  width: 27%;
  border-radius: 20px;
}

.main__projects {
  display: grid;
  gap: 30px;
  padding: 60px 0 0 0;
}
@media (min-width: 768px) {
  .main__projects {
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .main__projects {
    padding: 80px 0 0 0;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .main__projects h1 {
    margin: 0 0 30px 0;
  }
}

.flexDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
@media (min-width: 768px) {
  .flexDiv {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .flexDiv {
    flex-wrap: nowrap;
  }
}
.flexDiv ~ .flexDiv {
  margin: 2rem 0 0 0;
}
.flexDiv div {
  margin: 0 0 0 20px;
}
@media (min-width: 1024px) {
  .flexDiv div {
    flex-basis: 50%;
  }
}
.flexDiv div h1 {
  margin: 0 0 30px 0;
}
@media (min-width: 768px) {
  .flexDiv div h1 {
    margin: 0 0 40px 0;
  }
}
.flexDiv div h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  color: #CCC5C4;
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .flexDiv div h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
  }
}
@media (min-width: 1024px) {
  .flexDiv div h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 3rem;
    font-weight: 500;
    line-height: 60px;
    margin: 0 0 20px 0;
  }
}
.flexDiv div h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  color: #CCC5C4;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .flexDiv div h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1024px) {
  .flexDiv div h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31.2px;
    margin: 0 0 40px 0;
  }
}
.flexDiv div h3 span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
}
@media (min-width: 768px) {
  .flexDiv div h3 span {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (min-width: 1024px) {
  .flexDiv div h3 span {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31.2px;
  }
}
.flexDiv div p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20.8px;
  color: #CCC5C4;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .flexDiv div p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1024px) {
  .flexDiv div p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31.2px;
    margin: 0 0 40px 0;
  }
}
.flexDiv div a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 24px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FA8C84;
  color: #420607;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .flexDiv div a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31.2px;
  }
}
@media (min-width: 1024px) {
  .flexDiv div a {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 41.6px;
  }
}
.flexDiv div a img {
  width: 30px;
}
@media (min-width: 768px) {
  .flexDiv div a img {
    width: 35px;
  }
}
@media (min-width: 1024px) {
  .flexDiv div a img {
    width: 40px;
  }
}
@media (min-width: 1024px) {
  .flexDiv figure {
    flex-basis: 50%;
  }
}
.flexDiv figure img {
  max-width: 650px;
  max-height: 330px;
  border-radius: 5px;
  border: 3px solid #292221;
}

#javascript {
  color: #F4D016;
}

#css3 {
  color: #33A9DC;
}

#html5 {
  color: #F16529;
}

#figma {
  color: #03D081;
}

#sass {
  color: #CC6699;
}

.main__laguage {
  padding: 60px 0;
}
@media (min-width: 1024px) {
  .main__laguage {
    padding: 80px 0;
  }
}
.main__laguage div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0 0 20px;
}
@media (min-width: 768px) {
  .main__laguage div {
    margin: 40px 0 0 20px;
  }
}
.main__laguage div figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main__laguage div figure img {
  width: 30px;
}
@media (min-width: 768px) {
  .main__laguage div figure img {
    width: 40px;
  }
}
@media (min-width: 1024px) {
  .main__laguage div figure img {
    width: 50px;
  }
}
.main__laguage div figure p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 26px;
  color: #CCC5C4;
}
@media (min-width: 768px) {
  .main__laguage div figure p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 31.2px;
  }
}
@media (min-width: 1024px) {
  .main__laguage div figure p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 26px;
  }
}

.main__courses h1 {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .main__courses h1 {
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1024px) {
  .main__courses h1 {
    margin: 0 0 40px 0;
  }
}
.main__courses > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.main__courses > div img:first-of-type {
  width: 12px;
  height: 20px;
  position: absolute;
  top: 45%;
  left: 8px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .main__courses > div img:first-of-type {
    width: 15px;
    height: 25px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .main__courses > div img:first-of-type {
    width: 20px;
    height: 32px;
    left: 20px;
  }
}
@media (min-width: 1024px) {
  .main__courses > div img:first-of-type {
    width: 30px;
    height: 48px;
    left: 30px;
  }
}
.main__courses > div img:last-of-type {
  width: 12px;
  height: 20px;
  position: absolute;
  top: 45%;
  right: 15px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .main__courses > div img:last-of-type {
    width: 15px;
    height: 25px;
    right: 15px;
  }
}
@media (min-width: 768px) {
  .main__courses > div img:last-of-type {
    width: 20px;
    height: 32px;
    right: 20px;
  }
}
@media (min-width: 1024px) {
  .main__courses > div img:last-of-type {
    width: 30px;
    height: 48px;
    right: 30px;
  }
}

.courses__slide {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.slide {
  background-color: #3D3736;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.slide div {
  max-width: 300px;
  margin: 0 auto;
}
.slide div h2 {
  white-space: nowrap;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  color: #EBE4E4;
  margin: 0 0 5px 0;
}
@media (min-width: 768px) {
  .slide div h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
}
@media (min-width: 1024px) {
  .slide div h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 52.5px;
  }
}
.slide div span {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18.2px;
  color: #CCC5C4;
}
@media (min-width: 1024px) {
  .slide div span {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26px;
  }
}
.slide div p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18.2px;
  color: #E0D9D7;
  margin: 10px 0 0 0;
  max-width: 35ch;
}
@media (min-width: 768px) {
  .slide div p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20.8px;
    margin: 20px 0 0 0;
    max-width: 55ch;
  }
}
@media (min-width: 1024px) {
  .slide div p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 65ch;
  }
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.background {
  background-color: #14100F;
}
.background .header {
  max-width: 1200px;
  margin: 0 auto;
}
.background:has(.header) {
  border-bottom: 2px solid #292221;
}
.background .main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
@media (min-width: 480px) {
  .background .main {
    padding: 60px 40px;
  }
}
@media (min-width: 768px) {
  .background .main {
    padding: 80px 60px;
  }
}
.background .footer {
  max-width: 1200px;
  margin: 0 auto;
}
.background:has(.footer) {
  border-top: 2px solid #292221;
}

img {
  width: 100%;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 500;
  line-height: 40px;
  color: #CCC5C4;
}
@media (min-width: 768px) {
  h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 3rem;
    font-weight: 500;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 65px;
  }
}
h1::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 14px;
  margin: 0 15px 0 0;
  background-color: #AE2122;
}
@media (min-width: 768px) {
  h1::before {
    width: 5px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  h1::before {
    height: 22px;
  }
}

p {
  max-width: 45ch;
}
@media (min-width: 768px) {
  p {
    max-width: 55ch;
  }
}
@media (min-width: 1024px) {
  p {
    max-width: 65ch;
  }
}

.js .main section,
.js .flexDiv {
  transform: translateX(-60%);
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.js .main section.activeSection,
.js .main div.activeSection {
  transform: translate(0);
  opacity: 1;
}

@keyframes parallaxScss {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=Style.css.map */