@import 'variáveis-mixins';

@import 'header.scss';
@import 'footer.scss';

// home
@import 'home/introduction.scss';
@import 'home/about-me';
@import 'home/skills';
@import 'home/projects';
@import 'home/laguages';
@import 'home/courses';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
}

.background{
	background-color: $grey-7;

	.header{
		@include maxWidth;
	}

	&:has(.header){
		border-bottom: 2px solid $grey-6;
	}

	.main{
		@include maxWidth;
		padding: $padding-1 20px;
		
		@include responsive(mobile){
			padding: $padding-2 $padding-1;
		}
	
		@include responsive(tablet){
			padding: $padding-3 $padding-2;
		}
	}

	.footer{
		@include maxWidth;
	}

	&:has(.footer){
		border-top: 2px solid $grey-6;
	}
}

img{
	width: 100%;
}

h1{
	@include fontTitle(32, 500);
	color: $grey-3;

	@include responsive(tablet){
		@include fontTitle(48, 500);
	}

	@include responsive(screen){
		@include fontTitle(52, 500);
	}

	&::before{
		content: '';
		display: inline-block;
		width: 4px;
		height: 14px;
		margin: 0 15px 0 0;

		background-color: $red-4;

		@include responsive(tablet){
			width: 5px;
			height: 20px;
		}

		@include responsive(screen){
			height: 22px;
		}
	}
}

p{
	max-width: $max-ch-1;

	@include responsive(tablet){
		max-width: $max-ch-2;
	}

	@include responsive(screen){
		max-width: $max-ch-3;
	}
}

// animation
// créditos: https://youtube.com/shorts/AAQemQCgKXc?si=QoZmv8EZPHJ5Xt6D
.main section{
	transform: translateX(-100%);
	opacity: 0;
	animation: parallaxScss 1s forwards;
}

@keyframes parallaxScss {
	0%{
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@for $i from 1 to 6 {
	$delay: ($i - 1) * 0.2s;

	section:nth-of-type(#{$i}){
		animation-delay: #{$delay};
	}
}
